<div class="<%= container_classes %>" <%= @attrs.map { |k, v| "#{k}=\"#{v}\"" }.join(" ") %> <%= stimulus_attributes.map { |k, v| "#{k}=\"#{v}\"" }.join(" ") %>>
  <div class="flex">
    <div class="flex-shrink-0">
      <% if icon %>
        <div class="<%= icon_classes %>">
          <%= icon %>
        </div>
      <% else %>
        <div class="<%= icon_classes %>">
          <%= default_icon %>
        </div>
      <% end %>
    </div>
    <div class="ml-3 flex-1">
      <% if @title %>
        <h3 class="text-sm font-medium"><%= @title %></h3>
      <% end %>
      <div class="<%= @title ? 'mt-2' : '' %> text-sm">
        <%= content %>
      </div>
      <% if action %>
        <div class="mt-4">
          <%= action %>
        </div>
      <% end %>
    </div>
    <% if @dismissible %>
      <div class="ml-auto pl-3">
        <div class="-mx-1.5 -my-1.5">
          <button type="button" class="inline-flex rounded-md p-1.5 focus:outline-none focus:ring-2 focus:ring-offset-2 <%= dismiss_button_classes %>">
            <span class="sr-only">Dismiss</span>
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
