<div
  id="<%= id %>"
  class="relative inline-block bg-red-500"
  data-controller="popover"
  data-popover-trigger-type-value="<%= trigger_type %>"
>
  <div
    data-action="<%= trigger_type == :hover ? 'mouseenter->popover#open mouseleave->popover#close' : 'click->popover#toggle' %>"
    data-popover-target="trigger"
    aria-haspopup="true"
    aria-expanded="false"
    tabindex="0"
  >
    <%= trigger %>
  </div>
  <div
    class="hidden absolute z-20 <%= popover_position_classes %> min-w-[200px] rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
    data-popover-target="panel"
    role="dialog"
    aria-modal="false"
    tabindex="-1"
  >
    <%= panel %>
  </div>
</div>
