<%# Test PageLayout component %>

<%= PageLayout do |c| %>
  <%= c.with_header do %>
    <div class="p-4">This is the header content</div>
  <% end %>
  
  <%= c.with_side_panel do %>
     <% if user_signed_in? && current_user.is_go3_admin? %>
        <div class="admin-nav">
          <nav>
            <ul>
              <li>
                <%= link_to "Organization Management", admin_organizations_path %>
              </li>
            </ul>
          </nav>
        </div>
      <% end %>
  <% end %>
  
  <%= c.with_main_content do %>
    <div class="p-4">This is the main content</div>
  <% end %>
<% end %>
